What we believed we needed to do to meet the challenge

We needed to make it easy for people to meet others

We needed something that people could talk about 

We needed something that would make them happy 

We needed an icebreaker 

We needed

Bleating baskets 
